In [1]:
import pandas as pd
import numpy as np
from decision_tree import Decision_Tree
from main import Main

In [2]:
from sklearn import tree

In [3]:
df = pd.read_csv('data_banknote_authentication.csv', names = ['A', 'B', 'C', 'D', 'CLASS'])

In [4]:
df.head()

         A       B       C        D  CLASS
0  3.62160  8.6661 -2.8073 -0.44699      0
1  4.54590  8.1674 -2.4586 -1.46210      0
2  3.86600 -2.6383  1.9242  0.10645      0
3  3.45660  9.5228 -4.0112 -3.59440      0
4  0.32924 -4.4552  4.5718 -0.98880      0

In [5]:
from sklearn.utils import shuffle
df = shuffle(df)
df = df.reset_index(drop=True)

In [6]:
df.head()

         A       B        C        D  CLASS
0  3.62160  8.6661 -2.80730 -0.44699      0
1  3.53580  6.7086 -0.81857  0.47886      0
2 -0.65767 -2.8018  3.71150  0.99739      1
3  3.75220 -3.6978  3.99430  1.30510      0
4  2.94210  7.4101 -0.97709 -0.88406      0

In [7]:
train = df[0:int(len(df)*0.75)]
test = df[int(len(df)*0.75): len(df)]

In [8]:
dtree = tree.DecisionTreeClassifier( criterion = 'entropy')

In [9]:
dtree.fit(train[['A', 'B', 'C', 'D']].to_numpy(), train[['CLASS']].to_numpy())

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [10]:
pred = dtree.predict(test[['A', 'B', 'C', 'D']].to_numpy())

In [11]:
from sklearn.metrics import accuracy_score
print(accuracy_score(test[['CLASS']].to_numpy(), pred))

0.9825072886297376

In [12]:
dt = Decision_Tree(1, 0.95)

In [13]:
dt.root = dt.create_dt(train, max(train[train.columns[-1]])+1)
predicted = dt.classify(test)#testset)
# print(predicted)
# print(len(predicted), predicted.sum())
print(accuracy_score(test[['CLASS']].to_numpy(), predicted.to_numpy()))

0.9854227405247813

In [14]:
# main = Main()
# main.performance_measure(predicted, train[train.columns[-1]], 'car', 'N/A', '1', 'DTree')