In [24]:
import pandas as pd
import numpy as np

In [53]:
df = pd.DataFrame({'CLASS': [0, 3, 3, 2, 2, 2, 2],
                  'STRING': ['test', 'test', 'test', 'test', 'test', 'test', 'test']})

In [54]:
df[df.columns[-1]]

0    test
1    test
2    test
3    test
4    test
5    test
6    test
Name: STRING, dtype: object

In [61]:
counts = df['CLASS'].value_counts().sort_index()
print(counts)

0    1
2    4
3    2
Name: CLASS, dtype: int64

In [64]:
count = np.zeros(max(counts.index)+1)
for i in range(len(count)):
    if i in counts.index:
        print(i, counts[i])
        count[i] = counts[i]

0 1
2 4
3 2

In [65]:
print(count)

[1. 0. 4. 2.]

In [6]:
print(len(counts))

1

In [7]:
print(counts.iloc[0]/len(df))

1.0

In [8]:
df['CLASS'].dtypes == str

False

In [9]:
df['STRING'].dtype == 'O'

True

In [10]:
for index, row in df.iterrows():
    row['PRED'] = 2
    print(row)

CLASS        1
STRING    test
PRED         2
Name: 0, dtype: object
CLASS        2
STRING    test
PRED         2
Name: 1, dtype: object
CLASS        2
STRING    test
PRED         2
Name: 2, dtype: object
CLASS        3
STRING    test
PRED         2
Name: 3, dtype: object
CLASS        3
STRING    test
PRED         2
Name: 4, dtype: object
CLASS        3
STRING    test
PRED         2
Name: 5, dtype: object
CLASS        3
STRING    test
PRED         2
Name: 6, dtype: object

In [11]:
predicted = pd.Series(np.zeros(len(df)))
for i in range(len(df)):
    predicted[i] = int(2)

In [12]:
df.head()

   CLASS STRING
0      1   test
1      2   test
2      2   test
3      3   test
4      3   test

In [13]:
predicted

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
5    2.0
6    2.0
dtype: float64

In [14]:

from main import Main
from decision_tree import Decision_Tree

In [15]:
dataset = [[2.771244718,1.784783929,0],
	[1.728571309,1.169761413,0],
	[3.678319846,2.81281357,0],
	[3.961043357,2.61995032,0],
	[2.999208922,2.209014212,0],
	[7.497545867,3.162953546,1],
	[9.00220326,3.339047188,1],
	[7.444542326,0.476683375,1],
	[10.12493903,3.234550982,1],
	[6.642287351,3.319983761,1]]

In [16]:
df = pd.DataFrame(dataset, columns = ['X1', 'X2', 'Y'])

In [17]:
df.head()

         X1        X2  Y
0  2.771245  1.784784  0
1  1.728571  1.169761  0
2  3.678320  2.812814  0
3  3.961043  2.619950  0
4  2.999209  2.209014  0

In [18]:
dt = Decision_Tree(2, 0.5)

In [19]:
dt.root = dt.create_dt(df)

length 10
[5. 5.]
0.0
0.0
0.0
0.0
0.0
1.0
[5. 0.]
1.0
1.0
1.0
1.0
[5. 5.]
1.0
0.0
[0. 1.]
0.0
0.0
0.0
0.0
1.0
[5. 1.]
1.0
1.0
1.0
length 5
length 5

In [21]:
pred = dt.classify(df)

In [22]:
print(pred)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64